body {
    background: white;
}

.img-error {
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.container {
    margin-top: 8%;
}

.container p {
    color: #808080;
    font-size: 25px;
    font-weight: 500;
}

.container a {
    color: #121212;
    text-decoration: none;
}

.error-actions {
    padding: 8px;
    background-color: lightblue;
    width: 150px;
    height: 18px;
    border-radius: 5px;
}