.otp-input {
    cursor: not-allowed;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-indent: 4px;
    color: rgba(128, 128, 128, 0.596);
}

.otp-input:focus {
    outline: none;
}

.sub-btn {
    cursor: not-allowed;
}


/* .res-text {
    color: #ee3333;
} */

.not {
    cursor: not-allowed;
}

.load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.696);
    display: none;
    justify-content: center;
    z-index: 999;
}

.load div {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    top: 22%;
    position: relative;
}

.load div img {
    width: 200px;
    height: 200px;
    position: relative;
    top: -50px;
    left: -50px;
    opacity: 0.8.5;
}