{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static './CSS/home.css'%}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/passwdicon.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'Image/logo1.png' %}" type="image/x-icon" />
    <title>{% block title %}{% endblock title %}</title>
    {% block CSS %}{% endblock CSS %}
</head>

<body>
    <div class="nav-bar">
        <img src="{% static 'Image/logo1.png' %}" alt="Logo">
        <h3>Chat Seguro</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup/">Sign Up</a></li>
            <li><a href="/contect">Contect</a></li>
        </ul>
    </div>
    <hr>
    {% block content %}{% endblock content %}
    <div class="container">
        <footer>
            <h3>Remote Coders Team</h3>
            <div class="about">
            </div>
            <ul>
                <li><b>Rahul Badgurjar</b><br>
                    <p style="font-size: 14px;">&nbsp;&nbsp; Android developer, Blockchain trainer and good tutor</p>
                </li>
                <li><b>Shivani Patel</b><br>
                    <p style="font-size: 14px;">&nbsp;&nbsp; Windows developer expert, Full stack developer and a good learner</p>
                </li>
                <li><b>Mahima Dongre</b>
                    <p style="font-size: 14px;">&nbsp;&nbsp; Web developer, Backend developer and good learner</p>
                </li>
            </ul>
        </footer>
    </div>
</body>
{% block script %}{% endblock script %}
</html>